<% include header.ejs %> 

<% include sidebar.ejs %> 

<section id="dashboard">
    <div class="banner-top container">
        <div class="banners">
            <div class="banner-item red-accent">
                <h2 class="title">Software</h2>
                <h2 class="sub-title">5</h2>
            </div>
            <div class="banner-item  blue-accent">
                <h2 class="title">Hosting</h2>
                <h2 class="sub-title">2</h2>
            </div> 
            <div class="banner-item  green-accent">
                <h2 class="title">Invoices</h2>
                <h2 class="sub-title">5</h2>
            </div>
            <div class="banner-item  orange-accent">
                <h2 class="title">Tickets</h2>
                <h2 class="sub-title">2</h2>
            </div>
        </div>
    </div>
    <div class="cards-middle flexed ">
        <div id="left"> 
            <div class="prod-summary">
                <div class="card">
                    <h6 class="title smaller">My Products</h6>
                    <div class="card-items">
                        <div class="product-items">
                            <div class="item flexed">
                                <div class="state state-active">
                                    <span> </span>
                                </div>
                                <div class="description">
                                    <div class="name">ifarm dairy management software</div>
                                    <div class="category">
                                        Farming solutions software
                                    </div>
                                    <div class="details flexed">
                                        <span>Annual Subsripiton</span>
                                        <span class="cost-pa">Ksh. 5000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item flexed">
                                <div class="state state-pending">
                                    <span> </span>
                                </div>
                                <div class="description">
                                    <div class="name">myTenant</div>
                                    <div class="category">
                                        Real-estate software solution
                                    </div>
                                    <div class="details flexed">
                                        <span>Annual Subsripiton</span>
                                        <span class="cost-pa">Ksh. 5000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item flexed">
                                <div class="state state-not-paid">
                                    <span> </span>
                                </div>
                                <div class="description">
                                    <div class="name">elimuacademy.com domain registration</div>
                                    <div class="category">
                                        Domains and hosting
                                    </div>
                                    <div class="details flexed">
                                        <span>Annual Subsripiton</span>
                                        <span class="cost-pa">Ksh. 2500</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item flexed">
                                <div class="state state-active">
                                    <span> </span>
                                </div>
                                <div class="description">
                                    <div class="name">ujumbe premium</div>
                                    <div class="category">
                                        Bulk SMS
                                    </div>
                                    <div class="details flexed">
                                        <span>Annual Subsripiton</span>
                                        <span class="cost-pa">Ksh. 8500</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="inv-summary">
                <div class="card">
                    <h6 class="title">My Invoices</h6>
                    <div class="card-items">
                        <div class="inv-items">
                            <table class="app-table inv-summary-table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Description</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2134</td>
                                        <td>example.com domain renewal</td>
                                        <td>Ksh. 1500</td>
                                        <td class="status text-gaccent">
                                            <span class="state state-active"> </span>
                                            Paid
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2134</td>
                                        <td>iAcademy school bulk sms</td>
                                        <td>Ksh. 8000</td>
                                        <td class="status text-gaccent">
                                            <span class="state state-active"> </span>
                                            Paid
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2135</td>
                                        <td>Webhosting silver premium</td>
                                        <td>Ksh. 2000</td>
                                        <td class="status text-oaccent">
                                            <span class="state state-pending"> </span>
                                            Pending
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2212</td>
                                        <td>POS software</td>
                                        <td>Ksh. 1500</td>
                                        <td class="status text-raccent">
                                            <span class="state state-not-paid"> </span>
                                            Not Paid
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ticket-summary">
                <div class="card">
                    <h6 class="title">Support Tickets</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<% include footer.ejs %> 