<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/appstyles/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Area</title>
</head>
<body>
    <nav class="top">
        <div class="container flexed flexed-between flexed-align-center">
            <div class="logo">
                <img src="/assets/logo.svg" alt="Inspirehub">
            </div>
            <div class="page-header flexed flexed-between">
                <div class="page-header-title flexed flexed-align-center">
                    <h2 class="title">My Dashboard</h2>
                    <div class="page-header-breadcrumbs">
                        <ul class="breadcrumb">
                            <li class="item"><a href="/">Client Area</a></li>
                            <li class="item active">dashboard</li>
                        </ul>
                    </div>
                </div>
                <div class="page-header-actions flexed flexed-align-center">
                    <div class="not-tab">
                        <img src="/assets/notification.svg" alt="">
                        <span class="badge round accent-red">2</span>
                    </div>
                    <div id="account-tab" class="account-tab flexed flexed-align-center">
                        <img src="/assets/user.svg" alt="">
                        <span><%= user.firstName %> <%= user.lastName %> <%= user.cust_id %>    </span>
                        <div class="account-actions">
                            <h5>Account Settings</h5>
                            <form action="logout" method="post">
                                <button class="link-text" type="submit">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>



    <main class="flexed">

