<aside class="side-bar-container">
    <div class="container">
        <h5 class="title smaller">Account Information</h5>
        <div class="aside-container personal-details-container">
            <ul>
                <li>Sean Baraka</li>
                <li>seanbaraka@gmail.com</li>
                <li>P.O. Box 373-90100 <br> Machakos</li>
                <li>Kenya, Machakos</li>
            </ul>
        </div>
        <div class="aside-container navigation-links-container">
            <ul class="nav-links">
                <li class="dashboard-link item active"><a href="">Dashboard</a></li>
                <li class="dashboard-link item"><a href="statements">Invoices <span class="badge round">4</span></a></li>
                <li class="dashboard-link item"><a href="statements">Tickets <span class="badge round">3</span></a></li>
                <li class="dashboard-link item"><a href="statements">Statements</a></li>
                <li class="dashboard-link item"><a href="statements">Receipts</a></li>
            </ul>
        </div>
    </div>
</aside>

