<div class="invoices">
    <div class="card">
        <h2 class="title smaller">All Invoices</h2>
        <div class="card-items">
            <div class="inv-items">
                <table class="app-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Generated At</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>20100</td>
                            <td>10-5-2020</td>
                            <td>School Examinations software</td>
                            <td>Ksh. 15000</td>
                            <td class="status text-gaccent">
                                <span class="state state-active"></span>
                                Paid
                            </td>
                            <td>
                                10-6-2020
                            </td>
                        </tr>
                        <tr>
                            <td>20100</td>
                            <td>10-5-2020</td>
                            <td>Web hosting renewal</td>
                            <td>Ksh. 1500</td>
                            <td class="status text-oaccent">
                                <span class="state state-pending"></span>
                                Pending
                            </td>
                            <td>
                                10-6-2020
                            </td>
                        </tr>
                        <tr>
                            <td>20100</td>
                            <td>10-5-2020</td>
                            <td>ifarm software acquisition</td>
                            <td>Ksh. 15000</td>
                            <td class="status text-raccent">
                                <span class="state state-not-paid"></span>
                                Not Paid
                            </td>
                            <td>
                                10-6-2020
                            </td>
                        </tr>
                        <tr>
                            <td>20100</td>
                            <td>10-5-2020</td>
                            <td>School System Bulk SMS integration</td>
                            <td>Ksh. 10500</td>
                            <td class="status text-gaccent">
                                <span class="state state-active"></span>
                                Paid
                            </td>
                            <td>
                                10-6-2020
                            </td>
                        </tr>
                        <tr>
                            <td>20100</td>
                            <td>10-5-2020</td>
                            <td>School System Bulk SMS integration</td>
                            <td>Ksh. 10500</td>
                            <td class="status text-gaccent">
                                <span class="state state-active"></span>
                                Paid
                            </td>
                            <td>
                                10-6-2020
                            </td>
                        </tr>
                        <tr>
                            <td>20100</td>
                            <td>10-5-2020</td>
                            <td>School System Bulk SMS integration</td>
                            <td>Ksh. 10500</td>
                            <td class="status text-gaccent">
                                <span class="state state-active"></span>
                                Paid
                            </td>
                            <td>
                                10-6-2020
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>