@import "variables"
@import "mixins"

*
    margin: 0
    padding: 0
    box-sizing: border-box

.container
    @include container-width

.flexed 
    @include flex
    &-between
        @include flex-between
    &-center
        @include flex-center
    &-align-center
        @include align-center

ul 
    @include list-style-none

a 
    @include reset-text

.breadcrumb 
    @include flex
    list-style-type: none
    font-size: 90%
    color: $greyFade
    .item
        text-decoration: underline
        a 
            @include reset-text
        &::after
            content: '/'
            padding: 0 .25em
        &.active
            font-weight: 900
            &::after
                content: ''
                padding: 0
    
            
.title
    font-family: $headingsFont
    font-size: 120%
    &.smaller
        font-size: 90%

.round 
    border-radius: 100%

.badge
    display: inline-block
    text-align: center
    min-width: 20px
    max-height: 20px
    background-color: $redAccent
    color: $white
    padding: .15em
    position: relative
    top: -1em
    left: -1.5em
    font-size: 60%
    &.round 
        border: 2px solid $white

.card 
    @include card

.red-accent 
    @include cardColor($redAccent)

.blue-accent 
    @include cardColor($blueAccent)

.green-accent 
    @include cardColor($greenAccent)

.orange-accent 
    @include cardColor($orangeAccent)

.state
    position: relative
    top: .75em
    &-active
        @include roundIndicator($greenAccent)
    &-pending
        @include roundIndicator($orangeAccent)
    &-not-paid
        @include roundIndicator($redAccent)

.text
    &-gaccent
        @include textColor($greenAccent)
    &-raccent
        @include textColor($redAccent)
    &-oaccent
        @include textColor($orangeAccent)
    


.app-table 
    font-size: 75%
    border-spacing: 0
    thead 
    tbody 
        margin-top: 1em
        color: $greyFade
        tr 
            &:hover
                cursor: pointer
                background-color: lighten($greyFade, 38)
                color: darken($greyFade, 30)
    th,td 
        padding: .75em 
        .state 
            top: 0

.status 
    font-size: 80%    
    margin-left: 1em



.product-items,.ticket-items
    .item
        cursor: pointer
        position: relative
        &:hover
            cursor: pointer
            background-color: lighten($greyFade, 37)
            color: darken($greyFade, 30)
            // border-bottom: 1px solid lighten($greyFade, 30)
        margin: .75em 0
        
        .description 
            margin-left: 1em
            font-size: 80%
            .name
                font-weight: 700
            .category,.details
                color: $greyFade
                font-size: 75%
                margin: .2em 0
            .details
                span 
                    margin: .5em .75em 1em 0
                    

body
    background-color: $ashWhite
    font-family: $textFont

    nav
        
        .logo
            width: 15%
            img 
                width: 100%
                position: relative
        .page-header
            width: 75%
            &-title
            &-breadcrumbs
                margin-left: 1em
            &-actions
                img 
                    width: 18px
                    height: 18px
                .not-tab,.account-tab
                    cursor: pointer
                    margin: 0 .125em
                .account-tab
                    span 
                        margin-left: .25em
                        font-size: 80%
                        color: $greyFade
    
    main 
        padding: 1em
        aside 
            width: 250px
            .aside-container
                margin: 1em 0
                ul 
                    li 
                        line-height: 2
                        font-size: 80%
                .nav-links
                    margin-top: 3em
                    .item
                        font-weight: 700
                        margin: 1em 0
                        font-size: 75%
                        letter-spacing: .25px
                        a 
                            padding: 1em 2em
                        &.active 
                            color: $activeColor
                            &::before
                                @include roundIndicator($activeColor)
                                position: relative
                                left: .5em
                        span 
                            left: 0   
        section 
            width: 100%
            .banners 
                width: 100%
                display: grid
                grid-template-columns: repeat(auto-fit, minmax(20%, 1fr)) 
                gap: 1em   

                .banner-item 
                    cursor: pointer
                    padding: 1.75em 1.5em
                    .title 
                        font-weight: normal
                        font-size: 1em
                
                    .sub-title
                        font-size: 2.75em
                        font-family: $headingsFont
                        line-height: 1

            .cards-middle 
                margin-top: 1em
                #left 
                    width: 55%
                    
                #right 
                    margin-left: 1em
                    .inv-summary 
                        margin-bottom: 1em


.statements 
    width: 75%
    margin: 0 auto
                            
                                
                                
