
<section id="subscribe">
    <div class="container">
        <h2 class="sub-heading">Want to be part of inspirehub ?</h2>
        <p class="center">Dont wait any longer, subscribe with your email address below</p>
        <div class="email-form">
            <form action="/subscribe" method="POST" class="subscribe frm flexed flexed-between">
                <input type="text" class="frm-input" placeholder="Enter your email address">
                <input type="submit" value="subscribe" class="btn cta">
            </form>
        </div>
    </div>
</section>


<footer id="footer">
    <div class="container">
        <div class="footer">
            <div class="footer-links-container flexed flexed-between flexed-start">
                <ul class="foot-links">
                    <li class="foot-links-header">Site Map</li>
                    <li class="foot-links-item"><a href="/about" class="link-text">About Us</a></li>
                    <li class="foot-links-item"><a href="/business" class="link-text">Business solutions</a></li>
                    <li class="foot-links-item"><a href="/bulksms" class="link-text">Bulk SMS</a></li>
                    <li class="foot-links-item"><a href="/webhosting" class="link-text">Websites and Hosting</a></li>
                    <li class="foot-links-item"><a href="/login" class="link-text">Client Login</a></li>
                </ul>

                <ul class="foot-links">
                    <li class="foot-links-header">Business Solutions</li>
                    <li class="foot-links-item"><a href="/about" class="link-text">Point of Sale</a></li>
                    <li class="foot-links-item"><a href="/business" class="link-text">Workflow systems</a></li>
                    <li class="foot-links-item"><a href="/bulksms" class="link-text">Cash Management software</a></li>
                </ul>

                <ul class="foot-links">
                    <li class="foot-links-header">School Solutions</li>
                    <li class="foot-links-item"><a href="/about" class="link-text">School Management</a></li>
                    <li class="foot-links-item"><a href="/business" class="link-text">Fee Managment software</a></li>
                    <li class="foot-links-item"><a href="/bulksms" class="link-text">Exams Mangement software</a></li>
                </ul>
                <ul class="foot-links">
                    <li class="foot-links-header">Legal</li>
                    <li class="foot-links-item"><a href="/about" class="link-text">Privacy Policy</a></li>
                    <li class="foot-links-item"><a href="/business" class="link-text">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="social flexed flexed-center">
                <a href="https://facebook.com/inspirehub" class="link-text"><img src="assets/icons/facebook.svg" alt=""></a>
                <a href="https://twitter.com/inspirehub" class="link-text"><img src="assets/icons/twitter.svg" alt="twitter"></a>
                <a href="https://wa.me/254715653981" class="link-text"><img src="assets/icons/whatsapp.svg" alt=""></a>
            </div>
            <div class="logo-light flexed flexed-center">
                <img src="assets/logo_light.svg" alt="">
            </div>
            <div class="credits flexed flexed-center">
                <div class="with-love">Made with love &hearts; at inspire business solutions &nbsp;</div>
                <div class="copy">&copy; 2020 &nbsp;</div>
                <div class="rights">All Rights Reserved</div>
            </div>
        </div>
    </div>
</footer>



</main>

<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/custom.js"></script>
</body>
</html>