<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspirehub</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    
<nav>
    <div class="container">
        <div class="nav-bar flexed flexed-between">
            <div class="logo">
                <a href="/">
                    <img src="assets/logo.svg" alt="Inspirehub">
                </a>
            </div>
            <div class="nav-bar-menu">
                <ul class="menu-list flexed">
                    <li class="menu-list-item"><a href="/" class="link-text">Home</a></li>
                    <li class="menu-list-item" id="dropdown-link"><a href="#" class="link-text">Software Solutions &nbsp; &dtrif;</a>
                    
                        <div class="dropdown">
                            <ul>
                                <li><a href="business" class="link-text">Business Solutions</a></li>
                                <li><a href="schools" class="link-text">School Solutions</a></li>
                                <li><a href="realestate" class="link-text">Real-Estate Solutions</a></li>
                                <li><a href="farming" class="link-text">Farming Solutions</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-list-item"><a href="/websites" class="link-text">Websites and Hosting</a></li>
                    <li class="menu-list-item"><a href="/bulksms" class="link-text">Bulk SMS</a></li>
                    <li class="menu-list-item"><a href="/about" class="link-text">About Us</a></li>
                    <li class="menu-list-item"><a href="/login" class="link-text">Client Login</a></li>
                    <li class="menu-list-item"><a href="/cart" class="link-text"><img src="assets/icons/shopping-bags.svg" alt="cart">
                    <span id="cart-counter">0</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<main>
