<% include _header.ejs %> 

<section id="about-top">
    <div class="container">
      <div class="hero flexed flexed-between">
        <div class="hero-content">
          <div class="hero-content-heading">
            <h2 class="heading">
              Inspiring you with solutions to grow your business
            </h2>
          </div>
          <div class="text-content">
            We specialize in providing the most Premium IT solutions to your business needs and problems. We transform your idea and concept into a working IT Solution, that makes your business run seamlessly and allows you to focus on growing your business.
        </div>
        <a href="#team" class="cta btn bordered">Our Team</a>
        </div>
        <div class="hero-img">
            <img src="assets/hero_img.png" alt="Image Slider">
          </div>
      </div>
    </div>
  </section>

  <section id="values">
    <div class="container">
      
      <div class="container-statements">
        <div class="container-values-item card">
          <div class="card-title">Vision</div>
          <div class="card-desc">
            At inspirehub we hold honesty as a key value to ensure that we have harmony as a team, as well as to create trust with our clients so as to build a harmonious relationship.~
          </div>
        </div>
        <div class="container-values-item card">
          <div class="card-title">Mission</div>
          <div class="card-desc">
            We aim to be transaprent with ourselves and with our clients at all levels. We have a privacy policy that governs how data about our clients is used.
          </div>
        </div>
      </div>
      <h3 class="section-title">Our Core Values</h3>
      <div class="container-values">
        <div class="container-values-item card">
          <div class="card-title">Honesty</div>
          <div class="card-desc">
            At inspirehub we hold honesty as a key value to ensure that we have harmony as a team, as well as to create trust with our clients so as to build a harmonious relationship.~
          </div>
        </div>
        <div class="container-values-item card">
          <div class="card-title">Transparency</div>
          <div class="card-desc">
            We aim to be transaprent with ourselves and with our clients at all levels. We have a privacy policy that governs how data about our clients is used.
          </div>
        </div>
        <div class="container-values-item card">
          <div class="card-title">Team Work</div>
          <div class="card-desc">
            Teamwork is key in any organization, and at inspirehub we honor that. Every aspect of our operations revolves around teamwork to ensure we deliver quality to our clients.
          </div>
        </div>
      
        
      </div>
      <div class="container-values">
        <div class="container-values-item card">
          <div class="card-title">Honesty</div>
          <div class="card-desc">
            At inspirehub we hold honesty as a key value to ensure that we have harmony as a team, as well as to create trust with our clients so as to build a harmonious relationship.~
          </div>
        </div>
        <div class="container-values-item card">
          <div class="card-title">Transparency</div>
          <div class="card-desc">
            We aim to be transaprent with ourselves and with our clients at all levels. We have a privacy policy that governs how data about our clients is used.
          </div>
        </div>
        <div class="container-values-item card">
          <div class="card-title">Team Work</div>
          <div class="card-desc">
            Teamwork is key in any organization, and at inspirehub we honor that. Every aspect of our operations revolves around teamwork to ensure we deliver quality to our clients.
          </div>
        </div>
      
        
      </div>
    </div>
  </section>


  <section id="team">
    <h3 class="section-title" style="text-align: center;margin-bottom: 1em;">Our Team</h3>
      <div class="container">
        <div class="team-container">
            <div class="team-member"><img src="assets/member_benja.png" alt="member"></div>
            <div class="team-member"><img src="assets/ceo.png" alt="member"></div>
            <div class="team-member"><img src="assets/ceo.png" alt=""></div>
            <div class="team-member"><img src="assets/ceo.png" alt=""></div>
            <div class="team-member"><img src="assets/ceo.png" alt=""></div>
            <div class="team-member"><img src="assets/ceo.png" alt=""></div>
        </div>
      </div>
  </section>

  

<% include _footer.ejs %> 