<% include _header.ejs %> 
<section id="bulksms-top">
    <div class="container">
        <div class="hero flexed flexed-between">
            <div class="hero-content">
                <div class="hero-content-heading">
                    <h2 class="heading">
                        Bulk SMS & USSD
                    </h2>
                </div>
                <div class="text-content">
                    We help our clients in getting to digital space by providing professional bulk sms services. We ensure that you communicate with your customers with ease with our affordable and reliable bulk sms solutions.
                </div>
                <a href="#softwaretabs" class="cta btn nb">Get Started</a>
            </div>
            <div class="hero-img">
                <img src="assets/hero_img.png" alt="">
            </div>
        </div>
    </div>
</section>


<section id="sms">
    <div class="container">
        <div class="hero flexed flexed-between">
            <div class="hero-img">
                <img src="assets/hero_img.png" alt="">
            </div>
            <div class="hero-content">
                <div class="hero-content-heading">
                    <h2 class="heading">UJUMBE</h2>
                </div>
                <div class="text-content">
                    Our Bulk SMS services are applicable in SMS campaigns, SMS marketing, event notifications, scheduled reminders, Holiday greetings, Auto responders, SMS follow up, Debt reminders as well as promotional SMS
                </div>
            </div>
        </div>
        <div class="container">
            <div class="ussd-cards">
                <div class="card">
                    <div class="card-title">
                        Basic Package
                    </div>
                    <ul class="features">
                        <li>Add senders client list</li>
                        <li>Group your list</li>
                        <li>Send sms to a group or individual</li>
                        <li>Reach over 10k recepients on a click </li>
                        <li>Shared account and default name</li>
                    </ul>
                    <div class="card-footer">
                        <div class="cost">Ksh. 5,000</div>
                        <a href="addtocart" class="link-text">Order Service</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        Premium Package
                    </div>
                    <ul class="features">
                        <li>Includes Basic package plus</li>
                        <li>Custom/Branded Sender name</li>
                        <li>Own cloud account</li>
                        <li>Bulk emails</li>
                        <li>Scheduled SMS</li>
                    </ul>
                    <div class="card-footer">
                        <div class="cost">Ksh. 20,000</div>
                        <a href="addtocart" class="link-text">Order Service</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ussd">
    <div class="container">
        <div class="hero flexed flexed-between">
            <div class="hero-img">
                <img src="assets/hero_img.png" alt="">
            </div>
            <div class="hero-content">
                <div class="hero-content-heading">
                    <h2 class="heading">USSD Services</h2>
                </div>
                <div class="text-content">
                    We will help your establish real time interactive experiences for your users that is accessible on both feature and smartphones. We will integrate our simple and reliable USSD service for you to start delivering scalable solutions to your users.
                </div>
            </div>
        </div>
        <div class="container">
            <p class="center text-content">
                Unstructured Supplementary Service Data or USSD in short is a service that allows mobile phone users to interact with a remote application from their device in real time. A predefined session is started once a user dials in to facilitate the transfer of information between your application and the user. It is a highly scalable service as it does not require an internet connection and is supported by both feature and smartphones
            </p>
            <div class="ussd-cards">
                <div class="card">
                    <div class="card-title">
                        Shared USSD
                    </div>
                    <div class="card-desc">
                        This is a three digit code for example *384# that is used solely by one user for their company or service
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        Dedicated USSD
                    </div>
                    <div class="card-desc">
                        This is a code that is used by multiple companies or services. Each company is allocated a channel on our dedicated codes, for example *384*65#
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include _footer.ejs %> 