<% include _header.ejs %> 
<section id="bulksms-top">
    <div class="container">
        <div class="hero flexed flexed-between">
            <div class="hero-content">
                <div class="hero-content-heading">
                    <h2 class="heading">
                        Bulk SMS Solution
                    </h2>
                </div>
                <div class="text-content">
                    We help our clients in getting to digital space by providing professional bulk sms services. We ensure that you communicate with your customers with ease with our affordable and reliable bulk sms solutions.
                </div>
                <a href="#softwaretabs" class="cta btn nb">Get Started</a>
            </div>
            <div class="hero-img">
                <img src="assets/hero_img.png" alt="">
            </div>
        </div>
    </div>
</section>

<section id="ussd">
    <div class="container">
        <div class="hero flexed flexed-between">
            <div class="hero-img">
                <img src="assets/hero_img.png" alt="">
            </div>
            <div class="hero-content">
                <div class="hero-content-heading">
                    <h2 class="heading">USSD Services</h2>
                </div>
                <div class="text-content">
                    We will help your establish real time interactive experiences for your users that is accessible on both feature and smartphones. We will integrate our simple and reliable USSD service for you to start delivering scalable solutions to your users.
                </div>
            </div>
        </div>
        <div class="container">
            <p class="center text-content">
                Unstructured Supplementary Service Data or USSD in short is a service that allows mobile phone users to interact with a remote application from their device in real time. A predefined session is started once a user dials in to facilitate the transfer of information between your application and the user. It is a highly scalable service as it does not require an internet connection and is supported by both feature and smartphones
            </p>
            <div class="ussd-cards">
                <div class="card">
                    <div class="card-title">
                        Shared USSD
                    </div>
                    <div class="card-desc">
                        This is a three digit code for example *384# that is used solely by one user for their company or service
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        Dedicated USSD
                    </div>
                    <div class="card-desc">
                        This is a code that is used by multiple companies or services. Each company is allocated a channel on our dedicated codes, for example *384*65#
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="softwaretabs" class="one-product">
    <div class="container">
        <div class="tab-container">
    
            <div class="tab-container-body">

                <div class="tab-content active">
                        <div class="container">
                            <div class="tab-hero flexed flexed-between">
                                <div class="product-features">
                                    <h2 class="sub-heading">
                                        Products Features and pricing
                                    </h2>
                                    <div class="product-features-container one-p">
                
                                            <div class="product-item flexed flexed-between">
                                                <div class="p-img">
                                                    <img src="assets/hero_img.png" alt="product image">
                                                </div>
                                               
                                                <div class="p-features">
                                                    <ul>
                                                        <li class="heading sm">Product Features</li>
                                                        <li>Accounting module</li>
                                                        <li>Cash recording</li>
                                                        <li>Report Generation</li>
                                                        <li>Real-time updates</li>
                                                    </ul>
                                                    <div class="p-price">
                                                        Ksh. 15000
                                                    </div>
                                                </div>
                                                
                                                <div class="p-atc">
                                                    <div class="btn cta bordered">Add to Cart</div>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>
    
    
                            
    
    
    
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include _footer.ejs %> 