<% include _header.ejs %> 

<section id="business-top">
    <div class="container">
        <div class="hero flexed flexed-between">
            <div class="hero-content">
                <div class="hero-content-heading">
                    <h2 class="heading">
                        Business Software Solutions
                    </h2>
                </div>
                <div class="text-content">
                    Are you stacking on how to solve your business problem by use of technology? Do you find that you solving unending issues manually instead of focusing in building your business? Fret not! <br>
                    We take your idea and business concept in helping you solve your management problems for your business. We create tailor made solutions accessible from all smart devices.
                </div>
                <a href="#softwaretabs" class="cta btn nb">Get Started</a>
            </div>
            <div class="hero-img">
                <img src="assets/hero_img.png" alt="">
            </div>
        </div>
    </div>
</section>


<section id="softwaretabs">
    <div class="container">
        <div class="tab-container">
            <div class="tab-container-header">
                <div class="links flexed flexed-between">
                    <a href="#pos" class="tab-active link-text tab-control">Point Of Sale</a>
                    <a href="#workflow" class="link-text tab-control">Workflow</a>
                    <a href="#sales" class="link-text tab-control">Sales</a>
                </div>
            </div>
            <div class="tab-container-body">
                <div class="tab-content active" id="pos">
                    <div class="container">
                        <div class="tab-hero flexed flexed-between">
                            <div class="hero-img">
                                <img src="/assets/hero_img.png" alt="product image">
                            </div>
                            <div class="hero-content">
                                <h3 class="heading">
                                    Point Of Sales system
                                </h3>
                                <div class="text-content">
                                    Applicable in Hotels, Restaurants, Wholesales, Distributors, Stores, Agrovets and Chemists.
                                </div>
                            </div>
                        </div>

                        <div class="product-features">
                            <h2 class="sub-heading">
                                Products Features and pricing
                            </h2>
                            <div class="product-features-container">
                                <div class="software-items sitems-cont">
                                    <div class="product-item card">
                                        <div class="p-features">
                                            <div class="card-title">
                                                <p>Software</p>
                                            </div>
                                            <ul class="features">
                                                <li>Accounting module</li>
                                                <li>Cash recording</li>
                                                <li>Report Generation</li>
                                                <li>Real-time updates</li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <div class="cost">
                                                Ksh. <%= products[0].price.toLocaleString() %> 
                                            </div>
                                            <div class="p-atc">
                                                <input type="hidden" name="p-id" value="<%= products[0].id %>">
                                                <a class="btn cta bordered add_to_cart">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-item card">
                                        <div class="p-features">
                                            <div class="card-title">
                                               <p>Software + Hardware</p>
                                            </div>
                                            <ul class="features">
                                                <li>POS software plus</li>
                                                <li>160GB HDD and 2GB RAM</li>
                                                <li>Printer 80mm</li>
                                                <li>Cash Drawer</li>
                                                <li>Barcode Scanner</li>
                                                <li>
                                                    <b>NOTE: </b>
                                                    Prices will change depending on the scope
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <div class="cost">
                                                Ksh. <%= products[1].price.toLocaleString() %> 
                                            </div> 
                                            <div class="p-atc">
                                                <input type="hidden" name="p-id" value="<%= products[1].id %>">
                                                <a class="btn cta bordered add_to_cart">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="tab-content" id="workflow">
                    <div class="tab-content active" id="pos">
                        <div class="container">
                            <div class="tab-hero flexed flexed-between">
                                <div class="hero-img">
                                    <img src="/assets/hero_img.png" alt="product image">
                                </div>
                                <div class="hero-content">
                                    <h3 class="heading">
                                        Workflow systems
                                    </h3>
                                    <div class="text-content">
                                        Applicable in contracting firms, SME's, Jua Kali sector and cost management firms
                                    </div>
                                </div>


                            </div>


                            <div class="product-features">
                                <h2 class="sub-heading">
                                    Products Features and pricing
                                </h2>
                                <div class="product-features-container">
                                    <div class="sitems-cont ibooks">
                                        <div class="product-item card">
                                            <div class="p-features">
                                                <div class="card-title">iBooks</div>
                                                <ul class="features">
                                                    <li>Client Management</li>
                                                    <li>Raise quotations and orders</li>
                                                    <li>Job management</li>
                                                    <li>Costing</li>
                                                    <li>Resource Allocation</li>
                                                    <li>Tracking productivity</li>
                                                    <li>Receipting</li>
                                                    <li>Invoicing</li>
                                                    <li>Bulk SMS</li>
                                                </ul>
                                            </div>
                                            <div class="card-footer">
                                                <div class="cost">
                                                    Ksh. 100,000
                                                </div>
                                                <div class="p-atc">
                                                    <a class="btn cta bordered">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="tab-content" id="sales">
                    <div class="tab-content active" id="pos">
                        <div class="container">
                            <div class="tab-hero flexed flexed-between">
                                <div class="hero-img">
                                    <img src="/assets/hero_img.png" alt="product image">
                                </div>
                                <div class="hero-content">
                                    <h3 class="heading">
                                        Sales recording system
                                    </h3>
                                    <div class="text-content">
                                        Applicable in all businesses
                                    </div>
                                </div>
                            </div>


                            <div class="product-features">
                                <h2 class="sub-heading">
                                    Products Features and pricing
                                </h2>
                                <div class="product-features-container">
                                    <div class="sitems-cont ibooks">
                                        <div class="product-item card">
                                            <div class="p-features">
                                                <div class="heading">iCash</div>
                                                <ul>
                                                    <li>Client Management</li>
                                                    <li>Accounts Management</li>
                                                    <li>Accounts Receivable and Accounts payable modules</li>
                                                    <li>Daily reports</li>
                                                    <li>Bank Reconciliation</li>
                                                    <li>Track cash in and out of business</li>
                                                    <li>
                                                        <b>NOTE: </b>
                                                        Features can be customized to client demands
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card-footer">
                                                <div class="cost">
                                                    Ksh. 50,000
                                                </div>
                                                <div class="p-atc">
                                                    <div class="btn cta bordered">Add to Cart</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<% include _footer.ejs %> 