<% include _header.ejs %> 

<section id="realestate-top">
    <div class="container">
        <div class="hero flexed flexed-between">
            <div class="hero-content">
                <div class="hero-content-heading">
                    <h2 class="heading">
                        Farming Software Solution
                    </h2>
                </div>
                <div class="text-content">
                    Are you running a dairy farm. We have this app to digitalise how you run your farm. With features such as
                </div>
                <a href="#softwaretabs" class="cta btn nb">Get Started</a>
            </div>
            <div class="hero-img">
                <img src="assets/hero_img.png" alt="">
            </div>
        </div>
    </div>
</section>

<section id="softwaretabs" class="one-product">
    <div class="container">
        <div class="tab-container">
    
            <div class="tab-container-body">

                <div class="tab-content active" id="renatal">
                        <div class="container">
                            <div class="tab-hero flexed flexed-between">
                                <div class="product-features">
                                    <h2 class="sub-heading">
                                        Products Features and pricing
                                    </h2>
                                    <div class="sitems-cont ibooks">
                                        <div class="mtenant card">
                                            <div class="card-title">
                                                   iFarm
                                                </div>
                                                <ul class="features">
                                                    <li>Cows and Calves management</li>
                                                    <li>Farm Inputs</li>
                                                    <li>Output management</li>
                                                    <li>Vaccines and Insemination</li>
                                                    <li>Reports</li>
                                                    <li>Sales Module</li>
                                                    <li>Customer Management</li>
                                                </ul>
                                
                                            <div class="card-footer">
                                                <div class="p-atc">
                                                    <div class="cost">
                                                        Ksh. 25,000
                                                    </div>
                                                    <input type="hidden" name="p-id" value="<%= products[0].id %>">
                                                    <div class="btn cta bordered add_to_cart">Add to Cart</div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
    
    
                            
    
    
    
                        </div>
                
                </div>
            </div>
        </div>
    </div>
</section>
<% include _footer.ejs %> 