<% include _header.ejs %> 

<section id="realestate-top">
    <div class="container">
        <div class="hero flexed flexed-between">
            <div class="hero-content">
                <div class="hero-content-heading">
                    <h2 class="heading">
                        Real-Estate Solutions
                    </h2>
                </div>
                <div class="text-content">
                    Do you own flats, apartments or are you in the real estate business. This application will solve a lot of issues in managing your apartments. With its features in Online access everywhere. Create and manage rooms. Add Tenants and manage their profile. Invoice rent and utility bills. Monitor rental income. Improve communication. Track expenses. Get reports on collections.
                </div>
                <a href="#softwaretabs" class="cta btn nb">Get Started</a>
            </div>
            <div class="hero-img">
                <img src="assets/hero_img.png" alt="">
            </div>
        </div>
    </div>
</section>

<section id="softwaretabs" class="one-product">
    <div class="container">
        <div class="tab-container">
    
            <div class="tab-container-body">

                <div class="tab-content active">
                        <div class="container">
                            <div class="tab-hero flexed flexed-between">
                                <div class="product-features">
                                    <h2 class="sub-heading">
                                        Products Features and pricing
                                    </h2>
                                    <div class="product-features-container one-p">
                
                                            <div class="product-item flexed flexed-between">
                                                <div class="p-img">
                                                    <img src="assets/hero_img.png" alt="product image">
                                                </div>
                                               
                                                <div class="p-features">
                                                    <ul>
                                                        <li class="heading sm">Product Features</li>
                                                        <li>Accounting module</li>
                                                        <li>Cash recording</li>
                                                        <li>Report Generation</li>
                                                        <li>Real-time updates</li>
                                                    </ul>
                                                    <div class="p-price">
                                                        Ksh. <%= products[0].price.toLocaleString() %> 
                                                    </div>
                                                </div>
                                                
                                                <div class="p-atc">
                                                    <input type="hidden" name="p-id" value="<%= products[0].id %>">
                                                    <div class="btn cta bordered add_to_cart">Add to Cart</div>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>
    
    
                            
    
    
    
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<% include _footer.ejs %> 