<% include _header.ejs %> 

<section id="business-top">
    <div class="container">
        <div class="hero flexed flexed-between">
            <div class="hero-content">
                <div class="hero-content-heading">
                    <h2 class="heading">
                        School Software solutions
                    </h2>
                </div>
                <div class="text-content">
                    Are you an head teacher, principal or an owner of a school looking on how to manage your school activities. Online access everywhere. Has student registry. Manage vote heads. Fees invoicing and receipting module. Exam management Student account management. Performance analysis. Generation of report
                </div>
                <a href="#softwaretabs" class="cta btn nb">Get Started</a>
            </div>
            <div class="hero-img">
                <img src="assets/hero_img.png" alt="">
            </div>
        </div>
    </div>
</section>


<section id="softwaretabs">
    <div class="container">
        <div class="tab-container">
            <div class="tab-container-body">
                <div class="tab-content active" id="fee">
                        <div class="container">
                            <div class="tab-hero flexed flexed-between">
                                <div class="hero-img">
                                    <img src="/assets/hero_img.png" alt="product image">
                                </div>
                                <div class="hero-content">
                                    <h3 class="heading">
                                        iSchools
                                    </h3>
                                    <div class="text-content">
                                        Applicable in private primary schools, both public and private secondary schools, Tertiary institutions including colleges and TVET institutions.
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="product-features">
                                <h2 class="sub-heading">
                                    Products Features and pricing
                                </h2>
                                <div class="product-features-container">
                                    <div class="school-packs">
                                        <div class="card">
                                            <div class="p-features">
                                                <div class="heading">Basic</div>
                                                <ul class="features">
                                                    <li>Fee Management</li>
                                                    <li>Vote Heads</li>
                                                    <li>Debt Managemet</li>
                                                    <li>Reports</li>
                                                    <li>Bulk SMS</li>
                                                </ul>
                                            </div>
                                            <div class="card-footer">
                                                <div class="cost">
                                                    Ksh. 20,000
                                                </div>
                                                <div class="p-atc">
                                                    <div class="btn cta bordered">Add to Cart</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="p-features">
                                                <div class="heading">Standard</div>
                                                <ul class="features">
                                                    <li>All basic modules</li>
                                                    <li>Exam Module</li>
                                                    <li>Report Generation</li>
                                                    <li>Bulk SMS</li>
                                                </ul>
                                            </div>
                                            <div class="card-footer">
                                                <div class="cost">
                                                    Ksh. 40,000
                                                </div>
                                                <div class="p-atc">
                                                    <div class="btn cta bordered">Add to Cart</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="p-features">
                                                <div class="heading">Premium</div>
                                                <ul class="features">
                                                    <li>Standard Package</li>
                                                    <li>Library Management</li>
                                                    <li>Branded SMS</li>
                                                    <li>Accounts Module</li>
                                                    <li>Store Management Module</li>
                                                </ul>
                                            </div>
                                            <div class="card-footer">
                                                <div class="cost">
                                                    Ksh. 85,000
                                                </div>
                                                <div class="p-atc">
                                                    <input type="hidden" name="p-id" value="<%= products[0].id %>">
                                                    <div class="btn cta bordered add_to_cart">Add to Cart</div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                       
                                    </div>
                                </div>
                            </div>
 
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>



<% include _footer.ejs %> 