<% include _header.ejs %> 

<section id="business-top">
    <div class="container">
        <div class="hero flexed flexed-between">
            <div class="hero-content">
                <div class="hero-content-heading">
                    <h2 class="heading">
                        School Software solutions
                    </h2>
                </div>
                <div class="text-content">
                    Are you an head teacher, principal or an owner of a school looking on how to manage your school activities. Online access everywhere. Has student registry. Manage vote heads. Fees invoicing and receipting module. Exam management Student account management. Performance analysis. Generation of report
                </div>
                <a href="#softwaretabs" class="cta btn nb">Get Started</a>
            </div>
            <div class="hero-img">
                <img src="assets/hero_img.png" alt="">
            </div>
        </div>
    </div>
</section>


<section id="softwaretabs">
    <div class="container">
        <div class="tab-container">
            <div class="tab-container-header">
                <div class="links flexed">
                    <a href="#fee" class="tab-active link-text tab-control">Fee Management</a>
                    <a href="#exam" class="link-text tab-control">Exam Managemet</a>
                </div>
            </div>
            <div class="tab-container-body">
                <div class="tab-content active" id="fee">
                        <div class="container">
                            <div class="tab-hero flexed flexed-between">
                                <div class="hero-img">
                                    <img src="/assets/hero_img.png" alt="product image">
                                </div>
                                <div class="hero-content">
                                    <h3 class="heading">
                                        School Fee Management System
                                    </h3>
                                    <div class="text-content">
                                        With its features in: Online based you can access your shop from anywhere, Monitor your business,Track your sales from a smart device,Manage inventory, Monitor your daily profits and Get reports and analysis.
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="product-features">
                                <h2 class="sub-heading">
                                    Products Features and pricing
                                </h2>
                                <div class="product-features-container">
                                    <div class="flexed flexed-between">
                                        <div class="product-item">
                                            <div class="p-img">
                                                <img src="assets/hero_img.png" alt="product image">
                                            </div>
                                            <div class="p-features">
                                                <div class="heading">Primary schools</div>
                                                <div>
                                                    Has student registry. Manage vote heads. Fees invoicing and receipting module. 
                                                </div>
                                                <ul>
                                                    <li class="heading sm">Product Features</li>
                                                    <li>Accounting module</li>
                                                    <li>Cash recording</li>
                                                    <li>Report Generation</li>
                                                    <li>Real-time updates</li>
                                                </ul>
                                            </div>
                                            <div class="p-price">
                                                Ksh. 15000
                                            </div>
                                            <div class="p-atc">
                                                <div class="btn cta bordered">Add to Cart</div>
                                            </div>
                                        </div>

                                        <div class="product-item">
                                            <div class="p-img">
                                                <img src="assets/hero_img.png" alt="product image">
                                            </div>
                                            <div class="p-features">
                                                <div class="heading">Secondary schools</div>
                                                <div>
                                                    Has student registry. Manage vote heads. Fees invoicing and receipting module. 
                                                </div>
                                                <ul>
                                                    <li class="heading sm">Product Features</li>
                                                    <li>Accounting module</li>
                                                    <li>Cash recording</li>
                                                    <li>Report Generation</li>
                                                    <li>Real-time updates</li>
                                                </ul>
                                            </div>
                                            <div class="p-price">
                                                Ksh. 15000
                                            </div>
                                            <div class="p-atc">
                                                <div class="btn cta bordered">Add to Cart</div>
                                            </div>
                                        </div>

                                        <div class="product-item">
                                            <div class="p-img">
                                                <img src="assets/hero_img.png" alt="product image">
                                            </div>
                                            <div class="p-features">
                                                <div class="heading"><%= products[0].name %> </div>
                                                <div>
                                                    <%= products[0].description %> 
                                                </div>
                                                <ul>
                                                    <li class="heading sm">Product Features</li>
                                                    <li>Accounting module</li>
                                                    <li>Cash recording</li>
                                                    <li>Report Generation</li>
                                                    <li>Real-time updates</li>
                                                </ul>
                                            </div>
                                            <div class="p-price">
                                                Ksh. <%= products[0].price.toLocaleString() %> 
                                            </div>
                                            <div class="p-atc">
                                                <input type="hidden" name="p-id" value="<%= products[0].id %>">
                                                <div class="btn cta bordered add_to_cart">Add to Cart</div>
                                            </div>
                                        </div>
                                       
                                       
                                    </div>
                                </div>
                            </div>
 
                        </div>
                </div>
                <div class="tab-content" id="exam">
                    
                        <div class="container">
                            <div class="tab-hero flexed flexed-between">
                                <div class="hero-img">
                                    <img src="/assets/hero_img.png" alt="product image">
                                </div>
                                <div class="hero-content">
                                    <h3 class="heading">
                                        Exam management system
                                    </h3>
                                    <div class="text-content">
                                        Exam management Student account management. Performance analysis. Generation of report
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="product-features">
                                <h2 class="sub-heading">
                                    Products Features and pricing
                                </h2>
                                <div class="product-features-container">
                                    <div class="flexed flexed-between">
                                       
                                        <div class="product-item">
                                            <div class="p-img">
                                                <img src="assets/hero_img.png" alt="product image">
                                            </div>
                                            <div class="p-features">
                                                <div class="heading">
                                                    Secondary schools
                                                </div>
                                                <div>
                                                    Exam management Student account management. Performance analysis. Generation of report
                                                </div>
                                                <ul>
                                                    <li class="heading sm">Product Features</li>
                                                    <li>Accounting module</li>
                                                    <li>Cash recording</li>
                                                    <li>Report Generation</li>
                                                    <li>Real-time updates</li>
                                                </ul>
                                            </div>
                                            <div class="p-price">
                                                Ksh. 15000
                                            </div>
                                            <div class="p-atc">
                                                <div class="btn cta bordered">Add to Cart</div>
                                            </div>
                                        </div>

                                        <div class="product-item">
                                            <div class="p-img">
                                                <img src="assets/hero_img.png" alt="product image">
                                            </div>
                                            <div class="p-features">
                                                <div class="heading">
                                                    Tertiary institutions
                                                </div>
                                                <div>
                                                    Exam management Student account management. Performance analysis. Generation of report
                                                </div>
                                                <ul>
                                                    <li class="heading sm">Product Features</li>
                                                    <li>Accounting module</li>
                                                    <li>Cash recording</li>
                                                    <li>Report Generation</li>
                                                    <li>Real-time updates</li>
                                                </ul>
                                            </div>
                                            <div class="p-price">
                                                Ksh. 15000
                                            </div>
                                            <div class="p-atc">
                                                <div class="btn cta bordered">Add to Cart</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
    
    
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>



<% include _footer.ejs %> 