<% include _header.ejs %> 

<section id="website-packages">
    <div class="container">
        <div class="web-packages">
            <h3 class="sub-heading">Web Design and Development Services</h3>
            
            <div class="web-packs">
                <div class="card">
                    <h3 class="card-title">Standard Website</h3>
                    <p class="card-desc">Suitable for individuals and small companies</p>
                    <ul class="features">
                        <li>Responsive Web Design</li>
                        <li>Social Media Integration</li>
                        <li>Online Forms</li>
                        <li>Dynamic with a ready database</li>
                        <li>Email subsriptions</li>
                        <li>Newsletter requests and subscriptions</li>
                        <li>Mobile Versions</li>
                    </ul>
                    <div class="card-footer">
                        <div class="cost">Ksh. 15,000</div>
                        <a href="addtocart" class="link-text">Order Service</a>
                    </div>
                </div>
                <div class="card">
                    <h3 class="card-title">Corporate Websites</h3>
                    <p class="card-desc">Suitable for large organizations</p>
                    <ul class="features">
                        <li>Unlimited email accounts</li>
                        <li>Support for 6 months</li>
                        <li>Online catalogue</li>
                        <li>Bulk SMS integration</li>
                        <li>SMS branding</li>
                        <li>Instant response to clients</li>
                        <li>Chatbot</li>
                    </ul>
                    <div class="card-footer">
                        <div class="cost">Ksh. 40,000</div>
                        <a href="addtocart" class="link-text">Order Service</a>
                    </div>
                </div>
                <div class="card">
                    <h3 class="card-title">E-commerce and Blogging engines</h3>
                    <p class="card-desc">Suitable for e-commerce and blogging sites</p>
                    <ul class="features">
                        <li>A backend</li>
                        <li>Mpesa Integrations</li>
                        <li>Shopping Cart</li>
                        <li>Management Platform</li>
                        <li>Support for 6 months</li>
                    </ul>
                    <div class="card-footer">
                        <div class="cost">Ksh. 60,000</div>
                        <a href="addtocart" class="link-text">Order Service</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="domain-search">
    <div class="container">
        <div class="domain-search">
            <h3 class="sub-heading">Find and Register your domain</h3>

            <div class="search-form">
                <form action="/domainsearch" method="POST" class="domain frm flexed flexed-between">
                    <input type="text" class="frm-input" placeholder="Enter your domain e.g. example.com">
                    <input type="submit" value="search" class="btn cta">
                </form>
            </div>
        </div>
    </div>
</section>
<section id="hosting-packages">
    <div class="container">
        <div class="hosting-packs">
            <h3 class="sub-heading">Choose and Hosting package that best meets your needs</h3>

            <div class="packages">
                <div class="card basic">
                    <div class="card-title basic">Basic</div>
                    <div class="card-content">
                        <ul>
                            <li>50MB disk storage</li>
                            <li>500 MB bandwidth</li> 
                            <li>cpanel access</li>
                        </ul> 
                    </div>
                    <div class="card-footer">
                        <div class="cost basic">free</div>
                        <a href="addtocart" class="">Add To Cart</a>
                    </div> 
                </div>
                <div class="featured-hosting">
                    <div class="card silver">
                        <div class="card-title silver">Silver</div>
                        <div class="card-content">
                            <ul>
                                <li>500MB disk storage</li>
                                <li>2GB bandwidth</li>
                                <li>free ssl certificate</li>
                                <li>10 ftp accounts</li>
                                <li>cpanel access</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="cost">Ksh. 2,500
                            </div>
                            <a href="addtocart" class="">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="card gold">
                    <div class="card-title gold">Gold</div>
                    <div class="card-content">
                        <ul>
                            <li>2TB disk storage</li>
                            <li>Un bandwidth</li>
                            <li>ssl certificate</li>
                            <li>100 ftp accounts</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="cost">
                            Ksh. 7,500
                        </div>
                        <a href="addtocart" class="">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include _footer.ejs %> 